<div class="container">
  <h1 class="mb-5 mt-5">Employee Table</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @for(item of data; track item;let index = $index){
      <tr>
        <th scope="row">{{ index }}</th>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td style="display: flex; gap: 15px">
          <button class="btn btn-primary" (click)="handleEdit(index)">
            Edit
          </button>
          <button class="btn btn-success" (click)="handleDelete(index)">
            Delete
          </button>
        </td>
      </tr>
      }@empty {
      <tr>
        <td>No items found</td>
      </tr>
      }
    </tbody>
  </table>
</div>
