<!-- <router-outlet /> -->
<!-- <div class="container">
  <h1>Hellow Angular application</h1>
  <button
    type="button"
    class="btn"
    [ngClass]="currentRole == 'role' ? 'btn-success' : 'btn-primary'"
    (click)="changeRole('role')"
  >
    Role
  </button>
  <button
    type="button"
    class="btn btn-primary"
    [ngClass]="currentRole == 'designation' ? 'btn-success' : 'btn-primary'"
    (click)="changeRole('designation')"
  >
    Designation
  </button>
  <div class="role" *ngIf="currentRole == 'role'">
    <app-role></app-role>
  </div>
  <div class="designation" *ngIf="currentRole == 'designation'">
    <app-designation></app-designation>
  </div>
</div> -->

<div class="header">
  <ul>
    <li>
      <a routerLink="">Home</a>
    </li>
    <li>
      <a routerLink="/employee-form">Employee Form</a>
    </li>
    <li>
      <a routerLink="/employee-table">Employee Table</a>
    </li>
  </ul>
</div>
<router-outlet />
